*{
    margin: 0;
    padding: 0;
}
body{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ),
     url("https://images.wallpapersden.com/image/download/programming-coding-language_bGhpbm6UmZqaraWkpJRmbmdlrWZlbWU.jpg");
     
}

#title, #description{
    text-align: center;
}

.box{
    background-color: rgba(5, 2, 53, 0.884);
}

#survey-form{
    text-align: left;
    width: 40%;
    position:relative;
    left: 45%;
    font-size: 15px;
    
}