{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(
        rgba(9, 14, 78, 0.8),
        rgba(3, 7, 59, 0.8)
    ), url("https://w.wallhaven.cc/full/g8/wallhaven-g8mj2e.png");
    width: 100%;
    height: auto;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: snow;
}

#title{
    text-align: center;
    margin: 30px;

}

#title,
#description{
    text-align: center;
    font-style: oblique;
    margin: 25px;
}

.box{
    background-color: rgba(0, 104, 201, 0.877);
    border: 2px  solid rgb(57, 3, 110);
    border-radius: 10px;
    height: auto;
    width: 800px;
    margin: 0 auto;
    padding-left: 80px;
    
}

#survey-form{
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    margin: auto;
    padding-top: 45px;
    
}

#name,
#email,
#age{
    margin-bottom: 30px;
    margin-top: 10px;
    width: 700px;
    height: 35px;
    font-size: 20px;
    border: 2px  solid rgb(57, 3, 110);
    border-radius: 5px;
}


.title-dropdown,
.title-radio,
.title-option,
.title-checkbox,
.title-textarea{
    display: inline-block;
    margin-bottom: 14px;
}

#dropdown,
#favorite{
    width: 700px;
    height: 35px;
    font-size: 20px;
    border: 2px  solid rgb(57, 3, 110);
    border-radius: 5px;
    margin-bottom: 15px;
}

#comments{
    width: 700px;
    margin-bottom: 15px;
    border: 2px  solid rgb(57, 3, 110);
    border-radius: 5px;
    font-size: 20px;
}

#submit{
    width: 700px;
    height: 40px;
    margin-bottom: 15px;
    color: snow;
    background-color: rgb(5, 99, 46);
    border: 2px  solid rgb(1, 85, 1);
    border-radius: 5px;
}